<section class="background-image-holder">
        <div class="holder-item has-bg-cover bg-size-cover" style="background-image: url(assets/images/backgrounds/slider/img-41.jpg); background-position: left center;">
            <span class="mask bg-base-1 alpha-7"></span>
            <div class="container slice-lg slice--offset-top">
                <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mt-5">
                            <img src="assets/images/logo/icon.png" style="width: 200px;" class="img-fluid">
                            <h2 class="heading display-3 font-weight-400 text-white mt-4 mb-0">
                                <span class="font-weight-700">Boomerang</span>
                            </h2>
							<h2 class="heading heading-3 font-weight-400 text-white">
                                <span class="font-weight-700">Multipurpose Bootstrap Theme</span>
                            </h2>
                            <p class="text-lg text-white mt-3 lh-180 c-white mt-4">
                                Boomerang is an innovative HTML template solution based on Bootstrap 4 built with modular components that makes it reusable and easy to work on.
                            </p>
							<a href="#" class="btn btn-styled btn-white btn-circle mt-4" data-scroll-to="#scroll_section">Start exploring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center">
                <div class="col-lg-5">
                    <small class="heading heading-sm strong-300 text-uppercase ls-2 c-gray-light">Theme Styles</small>
                    <h2 class="heading heading-4 line-height-1_6 strong-500 mt-3">
                        You can now choose the theme's style: light or dark. By changing a single line of code you get an entirely new website.
                    </h2>

                    <a href="documentation/customization/theme-style.html" class="mt-4">See the Docs</a>
                </div>
                <div class="col-lg-7">
                    <div class="row mt-5 mt-lg-0 cols-xs-space cols-sm-space cols-md-space">
                        <div class="col-lg-6">
                            <div class="block block-image-holder z-depth-3">
                                <div class="block-image">
                                    <div class="view view-first">
                                        <a href="documentation/customization/theme-style.html">
                                            <img src="assets/images/presentation/theme-light.jpg" class="img-fluid rounded z-depth-3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="block block-image-holder z-depth-3">
                                <div class="block-image">
                                    <div class="view view-first">
                                        <a href="documentation/customization/theme-style.html">
                                            <img src="assets/images/presentation/theme-dark.jpg" class="img-fluid rounded">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container sct-inner">
            <div class="section-title section-title--style-1 text-center mb-3">
                <h3 class="section-title-inner heading-2 strong-600 text-normal">
                    <span>Over 200 ready to use layouts</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>

            <span class="clearfix"></span>

            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                Everything you need in one package. Blog, portfolio, e-commerce, real estate and plenty of secondary pages that are responsive and optimized
                based on user experience.
            </div>

            <span class="space-xs-lg"></span>

            <div class="row-wrapper">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-real-estate-001"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-400 text-capitalize">
                                            Homepages
                                        </h3>
                                        <p class="">
                                            Build anything from classic, minimlist to modern page designs.
                                        </p>
                                        <a href="pages-home.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3"">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-ecommerce-cart-plus"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Inner pages
                                        </h3>
                                        <p>
                                            Page example for about, services, contact and much more.
                                        </p>
                                        <a href="pages-inner.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-book-pencil"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Profile pages
                                        </h3>
                                        <p>
                                            Need layouts for account and profile pages? We got you covered.
                                        </p>
                                        <a href="pages-profile.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-picture-multiple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Blog pages
                                        </h3>
                                        <p>
                                            Various blog page examples for any type of content.
                                        </p>
                                        <a href="pages-blog.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-real-estate-077"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Shop pages
                                        </h3>
                                        <p>
                                            Four shop layouts with homepage and inner page examples.
                                        </p>
                                        <a href="pages-shop.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-webpage-multiple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Real Estate pages
                                        </h3>
                                        <p>
                                            A few examples for listing real estate properties and not only.
                                        </p>
                                        <a href="pages-real-estate.html" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">See pages</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice-lg sct-color-1" id="sct_full_demos">
        <div class="container">
            <div class="section-title section-title--style-1 text-center mb-3">
                <h3 class="section-title-inner heading-2 strong-600 text-normal">
                    <span class="d-block">Startup demos for all</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>
            <span class="clearfix"></span>
            <div class="fluid-paragraph text-center">
                <p class="text-lg line-height-1_8 c-gray-light strong-300">
                    Create your website using one of the demos below. Our demo's components are modular and interchangable, meaning you can take an element or a page from one demo and use it another without any additional setup.
                </p>
            </div>
            <span class="space-xs-xl"></span>
            <div class="">
                <div class="row">
                                        <div class="col-md-6 startup agency">
                        <div class="block block-image-holder mb-5 image-animate-wrapper">
                            <div class="block-image image-animate--hover">
                                <a href="demos/startup-agency" target="_blank">
                                    <img src="assets/images/presentation/demos/startup/agency.jpg" class="rounded">
                                </a>
                            </div>

                            <div class="card-body px-0">
                                <div class="">
                                    <a href="html/startup-agency" class="heading heading-4 strong-500" target="_blank">
                                        Startup Agency                                    </a>
                                    <p class="c-gray-light mt-2 d-none">
                                        Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-6 startup app">
                        <div class="block block-image-holder mb-5 image-animate-wrapper">
                            <div class="block-image image-animate--hover">
                                <a href="demos/startup-app" target="_blank">
                                    <img src="assets/images/presentation/demos/startup/app.jpg" class="rounded">
                                </a>
                            </div>

                            <div class="card-body px-0">
                                <div class="">
                                    <a href="html/startup-app" class="heading heading-4 strong-500" target="_blank">
                                        Startup App                                    </a>
                                    <p class="c-gray-light mt-2 d-none">
                                        Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-6 startup app">
                        <div class="block block-image-holder mb-5 image-animate-wrapper">
                            <div class="block-image image-animate--hover">
                                <a href="demos/startup-analitycs" target="_blank">
                                    <img src="assets/images/presentation/demos/startup/analitycs.jpg" class="rounded">
                                </a>
                            </div>

                            <div class="card-body px-0">
                                <div class="">
                                    <a href="html/startup-analitycs" class="heading heading-4 strong-500" target="_blank">
                                        Startup Analitycs                                    </a>
                                    <p class="c-gray-light mt-2 d-none">
                                        Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                                        <div class="col-md-6 startup classic">
                        <div class="block block-image-holder mb-5 image-animate-wrapper">
                            <div class="block-image image-animate--hover">
                                <a href="demos/startup-classic" target="_blank">
                                    <img src="assets/images/presentation/demos/startup/classic.jpg" class="rounded">
                                </a>
                            </div>

                            <div class="card-body px-0">
                                <div class="">
                                    <a href="html/startup-classic" class="heading heading-4 strong-500" target="_blank">
                                        Startup Classic                                    </a>
                                    <p class="c-gray-light mt-2 d-none">
                                        Flexible plugin that utilizes a handful of classes for easy toggle behavior.                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                                    </div>
            </div>
        </div>
    </section>

    <section class="slice has-bg-cover bg-size-cover" style="background-image: url(assets/images/backgrounds/slider/img-36.jpg); background-position: center center;">
        <span class="mask mask-base-1--style-1"></span>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7 text-center">
                    <h2 class="heading heading-1 strong-600 c-white mb-5">
                        Documentation and Shortcodes
                    </h2>

                    <p class="lead line-height-1_8 c-white">
                        Get started fast and easy with Boomerang using the documentation and shortcode examples. No matter
                        you are a developer or new to web design, you will
                        find our theme very easy to customize with
                        an intuitive HTML markup.
                    </p>

                    <a href="documentation/getting-started/introduction.html" class="btn btn-styled btn-lg btn-white btn-circle mt-5" target="_blank">Open the Docs</a>
                </div>
            </div>
        </div>
    </section>