<<<<<<< HEAD
=======
<section class="background-image-holder">
        <div class="holder-item has-bg-cover bg-size-cover" style="background-image: url(assets/images/backgrounds/slider/img-41.jpg); background-position: left center;">
            <span class="mask bg-base-1 alpha-7"></span>
            <div class="container slice-lg slice--offset-top">
                <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mt-5">
                            <h2 class="heading display-3 font-weight-400 text-white mt-4 mb-0">
                                <span class="font-weight-700">The Hacking Project</span>
                            </h2>
							<h2 class="heading heading-3 font-weight-400 text-white">
                                <span class="font-weight-700">Monte en compétences !</span>
                            </h2>
                            <p class="text-lg text-white mt-3 lh-180 c-white mt-4">
                            </p>
							<a href="#" class="btn btn-styled btn-white btn-circle mt-4" data-scroll-to="#scroll_section">Découvre la formation</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center">
                <div class="col-lg-5">
                    <small class="heading heading-sm strong-300 text-uppercase ls-2 c-gray-light">En Bref</small>
                    <h2 class="heading heading-4 line-height-1_6 strong-500 mt-3">
                                The Hacking Project est une école de formation basé sur le peer-learning et proposate des Bootcamp de programmation informatique en 3 mois.
                    </h2>

                </div>
                <div class="col-lg-7">
                    <div class="row mt-5 mt-lg-0 cols-xs-space cols-sm-space cols-md-space">
                        <div class="col-lg-6">
                            <div class="block block-image-holder z-depth-3">
                                <div class="block-image">
                                    <div class="view view-first">
                                        <a href="documentation/customization/theme-style.html">
                                       <img src="assets/images/" class="img-fluid rounded z-depth-3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="block block-image-holder z-depth-3">
                                <div class="block-image">
                                    <div class="view view-first">
                                        <a href="documentation/customization/theme-style.html">
                                            <img src="assets/images/presentation/theme-dark.jpg" class="img-fluid rounded">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container sct-inner">
            <div class="section-title section-title--style-1 text-center mb-3">
                <h3 class="section-title-inner heading-2 strong-600 text-normal">
                    <span>Les avantages de la formation</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>

            <span class="clearfix"></span>

            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                Découvrez les avantages multiples de nous rejoindre..
            </div>

            <span class="space-xs-lg"></span>

            <div class="row-wrapper">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-real-estate-001"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            La formation en peer-learning
                                        </h3>
                                        <p class="">
                                          Apprendre en peer-learning est une technique révolutionnaire qui facilite l'apprentissage au XXI siècle.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-ecommerce-cart-plus"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                           Une immersion totale
                                        </h3>
                                        <p>
                                            3 mois d'immersion dans l'univers du code informatique
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-book-pencil"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                          Le travail de groupe
                                        </h3>
                                        <p>
                                       Travaille par groupe et crée un projet final entrepreneurial.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-picture-multiple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                           Valorise tes compétences
                                        </h3>
                                        <p>
                                    Une fois ces compétences en main, il te sera plus facile d'évoluer au sein de ton entreprise
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-real-estate-077"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                         Faire du réseau
                                        </h3>
                                        <p>
                                          Rejoins une communauté de plus de 500 personnes passionnées par la tech !                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-webpage-multiple"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                         On commence quand ?
                                        </h3>
                                        <p>
Prochaine session mi-Juin !                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice-lg sct-color-1" id="sct_full_demos">
        <div class="container">
            <div class="section-title section-title--style-1 text-center mb-3">
                <h3 class="section-title-inner heading-2 strong-600 text-normal">
                    <span class="d-block">Témoignages</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>
            <span class="clearfix"></span>
            <div class="fluid-paragraph text-center">
                <p class="text-lg line-height-1_8 c-gray-light strong-300">
                </p>
            </div>
            <span class="space-xs-xl"></span>
            <div class="">
                <div class="row">
                                        <div class="col-md-6 startup agency">
                        <div class="block block-image-holder mb-5 image-animate-wrapper">
                            <div class="block-image image-animate--hover">
                                <a href="demos/startup-agency" target="_blank">
                                    <img src="assets/images/presentation/demos/startup/agency.jpg" class="rounded">
                                </a>
                            </div>

                                <div class="">
                                    <a href="html/startup-agency" class="heading heading-4 strong-500" target="_blank">
>>>>>>> 9095fc4299127bf93bd5882e48410c7154cdee48
