<section class="background-image-holder">
        <div class="holder-item has-bg-cover bg-size-cover bgimgreco">
            <span class="mask bg-base-1 alpha-7"></span>
            <div class="container slice-lg slice--offset-top">
                <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mt-5">



                            <h2 class="heading display-3 font-weight-400 text-white mt-4 mb-0">
                                <span class="font-weight-700">Why the Code!</span>
                            </h2>
							<h2 class="heading heading-3 font-weight-400 text-white">
                                <span class="font-weight-700">Bootcamp gratuit pour booster ses compétences. The Hacking Project, douze semaines en immersion dans l'univers du Ruby code. Se former en peer-learning pour les métiers de demain!</span>
                            </h2>
                            <p class="text-lg text-white mt-3 lh-180 c-white mt-4">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space align-items-center">
                <div class="col-lg-5">
                    <small class="heading heading-sm strong-300 text-uppercase ls-2 c-gray-light">DEMANDEURS D'EMPLOI</small>
                    <h2 class="heading heading-4 line-height-1_6 strong-500 mt-3">
                        <li>Relancer sa carrière</li>
                        <li>Préparer sa digitale reconversion</li>
                        <li>S'appuyer sur la communauté THP</li>
                        <li>Apprendre en peer-learning</li>

                    </h2>

                    <a href="#" class="link link-xs link--style-2 text-uppercase strong-600 mt-3">Voir Plus</a>
                </div>
                <div class="col-lg-7">
                    <div class="row mt-5 mt-lg-0 cols-xs-space cols-sm-space cols-md-space">
                        <div class="col-lg-6">
                            <div class="block block-image-holder z-depth-3">
                                <div class="block-image">
                                    <div class="view view-first">
                                        <a href="#">
                                          <span class=“img-fluid rounded”>
                                            <%= image_tag('https://images.pexels.com/photos/7096/people-woman-coffee-meeting.jpg?auto=compress&cs=tinysrgb&h=350') %>
                                          </span>
                                        </a>
                                    </div>
                                  </div>
                                </div>
                            </div>
                        </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice sct-color-1">
        <div class="container sct-inner">
            <div class="section-title section-title--style-1 text-center mb-3">
                <h3 class="section-title-inner heading-2 strong-600 text-normal">
                    <span>TÉMOIGNAGES</span>
                </h3>
                <span class="section-title-delimiter clearfix d-none"></span>
            </div>

            <span class="clearfix"></span>

            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                The Hacking Project forme aux métiers de demain
            </div>

            <span class="space-xs-lg"></span>

            <div class="row-wrapper">
                <div class="row cols-xs-space cols-sm-space cols-md-space">
                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-real-estate-001"></i>
                                    </div>
                                    <div class="block-content">

                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            John Doe
                                            <p>Directeur Marketing</p>
                                        </h3>
                                        <p class="">
                                            A l'heure du numérique impossible de faire l'impasse sur le programming. Aujourd'hui, après douze semaines intensives, je suis à niveau pour poursuivre ma carrière et m'ouvrir à de nouvelles opportunités.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-ecommerce-cart-plus"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Alicia Pedro
                                          </h3>
                                            <p>Auto-entrepreneur</p>

                                        <p class="">
                                          Me former à Ruby, m'a permis de créer mon application et de collecter des informations stratégiques liées à mon activité professionnelles.
                                        </p>
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="feature feature--boxed-border feature--boxed-border-light border">
                            <div class="">
                                <div class="icon-block icon-block--style-1-v5">
                                    <div class="block-icon">
                                        <i class="icon-basic-book-pencil"></i>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="heading heading-4 strong-600">
                                            Ben Lee
                                            <p>Directeur de Production</p>
                                        </h3>
                                        <p>
                                          Sans la formation THP, je me sentais dépassé et en difficulté pour retrouver un travail. Chômeur de longue durée, j'appartiens aujourd'hui à une communauté et j'ai retrouvé confiance en moi.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
                </div>
            </div>
        </div>
    </section>
